In [1]:
import numpy as np 
import pandas as pd
import requests 

from bs4 import BeautifulSoup

In [2]:
r = requests.get('https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature')
soup = BeautifulSoup(r.text,'html.parser')

In [3]:
r.text[0:500]

'\n<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of cities by average temperature - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"d7c34b01-06fe-42c'

In [4]:
results = soup.find_all('td')
len(results)

6784

In [6]:
temperature = list()
count = 0
c = 0
temp = list()
for idx in range(len(results)):
    try:
        if count == 0:
            country = results[idx].find('a')['title']
            count += 1
            temp.append(country)
        else: 
            city = results[idx].find('a')['title']
            count = 0
            temp.append(city)
#       print(results[idx].find('a')['title'])
    except:
#       print(results[idx].contents[0])
        temp.append(results[idx].contents[0])
        c+=1
    if c == 14:
        temperature.append(tuple(temp))
        temp = list()
        c = 0

In [7]:
columns = ['Country','City','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','Avg_Year', 'other']

In [8]:
world_temp_2020 = pd.DataFrame(temperature,columns = columns)
world_temp_2020.drop(columns = 'other',inplace=True)

In [9]:
world_temp_2020.head()

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg_Year
0,Algeria,Algiers,11.2,11.9,12.8,14.7,17.7,21.3,24.6,25.2,23.2,19.4,15.2,12.1,17.4
1,Algeria,Tamanrasset,12.8,15.0,18.1,22.2,26.1,28.9,28.7,28.2,26.5,22.4,17.3,13.9,21.7
2,Algeria,Reggane,16.0,18.2,23.1,27.9,32.2,36.4,39.8,38.4,35.5,29.2,22.0,17.8,28.3
3,Angola,Luanda,26.7,28.5,28.6,28.2,27.0,23.9,22.1,22.1,23.5,25.2,26.7,26.9,25.8
4,Benin,Cotonou,27.3,28.5,28.9,28.6,27.8,26.5,25.8,25.6,26.0,26.7,27.6,27.3,27.2

In [ ]:
world_temp_2020.to_csv('Avg_World_Temp_2020.csv')